html,  body {
	height: 100%;
  width: 100%;
  margin: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
  overflow-y: hidden;
  display: block;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
a {
	text-decoration-line: none;
	color: rgba(0,0,0,.9);
}
a:hover {
	color: rgba(0,0,0,1);
	text-decoration-line: none;
	text-decoration: none;
}
a:visited { 
	text-decoration: none;
	text-decoration-line: none;
}
hr {
	width: 50%;
	margin: 0 auto;
	border: 1px solid rgb(125, 3, 3);

}
h1 {
	margin: 0 auto;
	width: 100%;
	text-shadow: 1px 1px white;
	font-size: 80px;
	color: black;
}
p,h1, h2, h3, h4, h5, h6, a, li, label, input {
font-family: 'Abel', sans-serif;
text-decoration-line: none;
text-decoration: none;

}